/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-half-grey: #7e7e7e2b;
  --basic-white: #FFFFFF;
  --special-grey: #C4C4C4;

}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSans Light"), local("OpenSans-Light"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSans Regular"), local("OpenSans-Regular"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page-body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr;
  -ms-grid-rows: min-content 1fr;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  -ms-flex-line-pack: start;
      align-content: start;
  max-width: 1024px;
  font-family: "Open Sans","Arial", sans-serif;
  border: 1px solid var(--basic-half-grey);
  color: var(--basic-black);
  background-color: var(--basic-half-grey);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.72);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.72);
  padding: 25px 40px;
  margin: 30px auto 70px;
}

.information-img {
  border: 2px solid rgba(0, 0, 0, 0.17);
}

.information-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information-title {
  font-weight: 800;
  font-family: "Open Sans","Arial", sans-serif;
  font-size: 32px;
  line-height: 48px;
}

.information-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information-list__item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information-list__link {
  font-weight: 800;
  font-family: "Open Sans","Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--special-grey);
  padding-left: 10px;

}

.information-list__link:hover {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.72);
}

.information-list__link:focus {
  color: var(--special-grey);
}

.page-main {
  display: -ms-grid;
  display: grid;
  row-gap: 40px;
}

.main-section__title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--special-grey);
  margin-bottom: 30px;
}

.summary-text {
  font-size: 18px;
  line-height: 22px;
  max-width: 800px;
  margin: 0 auto;
}

.skills-list {
  width: 500px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding:0;
  list-style: none;
  counter-reset: li;
}

.skills-item {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
  padding:12px 20px 20px 28px;
  margin-left: 40px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.skills-item:before {
  border: 6px solid transparent;
  line-height: 30px;
  position: absolute;
  top: 0;
  left:-30px;
  width:42px;
  text-align:center;
  font-size: 13px;
  font-weight: bold;
  color: var(--special-grey);
  counter-increment: li;
  content: counter(li);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.skills-item:hover:before {
  color: var(--basic-white);
}

.skills-item:after {
  position: absolute;
  top: 0;
  left: -30px;
  width: 42px;
  height: 42px;
  border: 6px solid var(--basic-white);
  border-radius: 50%;
  content: '';
  opacity: 0.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.skills-item:hover:after {
  -webkit-animation: 500ms ease-in-out 0s bounceIn;
          animation: 500ms ease-in-out 0s bounceIn;
  opacity: 1;
  border: 6px solid var(--basic-white);
}

@-webkit-keyframes bounceIn {
  0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
  }
  20% {
      -webkit-transform: scale3d(1.3, 1.3, 1.3);
              transform: scale3d(1.3, 1.3, 1.3);
  }
  40% {
      -webkit-transform: scale3d(.9, .9, .9);
              transform: scale3d(.9, .9, .9);
  }
  60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
              transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
      -webkit-transform: scale3d(.97, .97, .97);
              transform: scale3d(.97, .97, .97);
  }
  to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
  }
  20% {
      -webkit-transform: scale3d(1.3, 1.3, 1.3);
              transform: scale3d(1.3, 1.3, 1.3);
  }
  40% {
      -webkit-transform: scale3d(.9, .9, .9);
              transform: scale3d(.9, .9, .9);
  }
  60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
              transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
      -webkit-transform: scale3d(.97, .97, .97);
              transform: scale3d(.97, .97, .97);
  }
  to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
  }
}
